{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <a href="{% url 'blogs' %}">
                <img src="{% static 'images/icon.svg' %}" alt="icon" />
            </a>
            <h3>Password reset sent</h3>
            <br />
            <p>We’ve emailed you instructions for setting your password, from <b>sachinjainn00@gmail.com</b> , if an
                account exists with the
                email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                <i>check
                    your spam folder<i>.</p>
        </div>
        <br />

        <div class="auth__alternative">
            <p>Just remembered your password! Happens!! </p>
            <a href="{% url 'login' %}">Sign In</a>
        </div>
    </div>
</div>

{% endblock content %}