{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <a href="{% url 'blogs' %}">
                <img src="{% static 'images/icon.svg' %}" alt="icon" />
            </a>
            <h3>Forgot Password</h3>
            <p>Worry Not, we will mail instructions, Right Away</p>
        </div>

        <form action="" method="POST" class="form auth__form">
            {% csrf_token %}
            {% for field in form %}
            <div class="form__field">
                <label for="formInput#text">{{field.label}}</label>
                {{field}}
            </div>
            {% for error in field.errors %}
			<p style="color: rgb(255, 0, 0);">{{error}}</p>
			<br/>
            {% endfor %}

            {% endfor %}
            <input class="btn btn--sub btn--lg" type="submit" value="Change my password" />

        </form>
        <div class="auth__alternative">
            <p>I know you are tired, But I still have to give this option</p>
            <a href="{% url 'login' %}">Sign In</a>
        </div>
    </div>
</div>
<style>
    input[type='email'],
    input[type='password'] {
        min-width: 24rem;
        width: 100%;
        padding: 1.2rem 1.5rem;
        border-radius: 0.5rem;
        border: 2px solid var(--color-light);
        transition: all 0.3s ease-in-out;
        background-color: var(--color-bg);
    }

    input[type='email']:focus,
    input[type='password']:focus,
    input[type='email']:active,
    input[type='password']:active {
        outline: none;
        border: 2px solid var(--color-main);
    }
</style>

{% endblock content %}