{% extends 'main.html' %}
{% load static %}

{% block content %}

<div class="auth">
    <div class="card">
        <div class="auth__header text-center">
            <a href="{% url 'blogs' %}">
                <img src="{% static 'images/icon.svg' %}" alt="icon" />
            </a>
            <h3>Password reset complete</h3>
            <br />
            <p>Thank you for your patience.</p>
            <p>Your password is now updated.</p>
            <p>Go ahead and login :))</p>
        </div>

        <div class="auth__alternative" style="text-align: center;">
            <p></p>
            <a href="{% url 'login' %}">Sign In</a>
        </div>
    </div>
</div>

{% endblock content %}